body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #fff;
}

header {
    background-color: #cd5c5c;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.hidden {
    display: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #cd5c5c;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    #desktop-menu {
        display: none;
    }

    #mobile-menu {
        display: block;
    }
}
